# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

venv/
# VSCode settings
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Data or logs (optional)
data/
*.log
output/

.env