# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

### Project Specific ###

# Large Models
*.gguf
*.bin
*.onnx
*.safetensors
code-app/app/models/*.gguf
code-app/all-MiniLM-L6-v2/

# Vector Store
code-app/vectorstore/
vectorstore/
*.faiss
*.pkl

# Logs
*.log
