fastapi
uvicorn
langchain-core
pydantic
python-multipart
python-dotenv
requests
openai
sqlalchemy
python-jose[cryptography]
httpx
faiss-cpu
voyageai
onnxruntime
tokenizers
numpy
psycopg2-binary
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
